.wrapper{
  width:100%;
  padding-top: 20px;
  text-align:center;
}
.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
  width: 200px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}