<!DOCTYPE html>
<html>
    <head>
                <title>{T1}</title>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/assets_pages/upsells/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link href='//fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    </head>
    
    <body class="man" style="background-color: #f1f4f6;">
        <div class="first-block">
            <div class="wrapper">
                <div class="wrap">
                    <div class="top-title top-title-c">
                        <h2 style="color: #55d90d;">{T1}</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="section footer">
            <div class="wrap clearfix">
                <div class="right"><p>Copyright (c) 2021</p></div>
            </div>
        </div>
    </body>
</html>