<h3 id="lowerH" class="success-page__text">Por favor, preencha seu e-mail e informaremos quando seu pedido estará pronto</h3>
<form action="thankyou.php" class="success-page__form" name="update_form" method="post">
    <div class="success-page__form__container">
        <div><input type="email" name="email" placeholder="Email" required class="success-page__form__input" style="text-align: start;"></div>
        <button class="success-page__form__button" type="submit">Enviar </button>
    </div>
</form>
