<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=375" />
    <title>{T1}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link
      rel="icon"
      href="templates/cashfact/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link href="templates/cashfact/thankyou2.css" rel="stylesheet" />
    <link href="templates/cashfact/thankyou.css" rel="stylesheet" />
  </head>
  <body>
    <section>
      <div class="container">
        <div class="sc1">
          <img src="templates/cashfact/f1.png" />
          <h1 class="title">{T1}</h1>
          <div class="t1">{T2}</div>
          <div class="t2">{T3}</div>
          <div class="t3">
            <div class="t31"><img src="templates/cashfact/f2.svg" />{T4}</div>
            <img src="templates/cashfact/arrow.svg" />
            <div class="t32"><img src="templates/cashfact/f3.svg" />{T5}</div>
            <img src="templates/cashfact/arrow.svg" />
            <div class="t33"><img src="templates/cashfact/f4.svg" />{T6}</div>
          </div>
          <div class="t4">{T7}</div>
          <div class="t5">
            <div class="t51">{T8}</div>
            <div class="t52">
              <div>
                {T9}<b><span id="num">855392</span></b>
              </div>
              <div>
                {T18}<b><span id="num">{NAME}</span></b>
              </div>
              <div>
                {T19}<b><span id="num">{PHONE}</span></b>
              </div>
              <div>
                {T10}<b><span id="date">06.06.2024</span></b>
              </div>
            </div>
          </div>
          <div class="t8">
            <div><img src="templates/cashfact/f5.png" />{T11}</div>
            <div><img src="templates/cashfact/f6.png" />{T12}</div>
          </div>
        </div>
        <div class="sc2">
          <img src="templates/cashfact/f7.png" />
          <h2 class="title">{T13}</h2>
          <div class="t9">{T14}</div>
          <div class="t10">{T15}</div>
          <div class="t11">{T16}</div>
          <div class="t12">{T17}</div>
        </div>
      </div>
      <div class="t13"><img src="templates/cashfact/f.png" /></div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script>
      function generateRandomNumber(min, max) {
        const random = Math.floor(Math.random() * (max - min + 1)) + min;
        document.getElementById("num").innerHTML = random;
      }

      function generateTodayDate() {
        const date = new Date();

        const formattedDate = date.toLocaleDateString("ru", {
          day: "2-digit",
          month: "2-digit",
          year: "numeric",
        });

        document.getElementById("date").innerHTML = formattedDate;
      }

      window.onload = () => {
        generateRandomNumber(100000, 1000000);
        generateTodayDate();
      };
    </script>
  </body>
</html>
