@import url(https://fonts.googleapis.com/css?family=Lobster|PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);
* {
    outline: none;
}

.padding-callbacker {
    padding: 10px;
}

.modal-callbacker-show {
    overflow: hidden !important;
    position: relative;
    right: 8px;
}

.margin-t-b-callbacker {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.margin-l-callbacker {
    margin-left: 0 !important;
}

.loader, .modal-callbacker {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAeSURBVHjaYmRgYNBmIAIwMRAJRhVSRyEAAAD//wMAVdAAP0SGoHgAAAAASUVORK5CYII=');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: fixed; 
    left: 0;
    top: 0;
}

.loader {
    z-index: 200001;
}

.modal-callbacker {
    z-index: 200001;
    overflow: auto;
    font-family: 'PT Sans',arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    text-align: justify;
	display: none;
}

.modal-callbacker .modal-callbacker-top {
    top: 50%;
}

.modal-callbacker .modal-callbacker-left {
    left: 50%;
}

.modal-callbacker-block {
    position: relative;
    width: 600px;
    background: #FFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
    border: 1px solid #3A87AD;
}

.modal-callbacker p {
    font-weight: normal;
    width: auto;
}

.modal-callbacker .content-callbacker {
    background: #ffffff repeat;
    width: auto;
	text-align: center;
    overflow: hidden;
    margin: 0;
    box-shadow: none;
}

@media screen and (max-width: 540px) {
    .modal-callbacker-block {
        width: 380px;
    }

    .modal-callbacker-block .title {
        padding: 0 50px;
        line-height: 39px;
    }
}

@media screen and (max-width: 405px) {
    .modal-callbacker-block {
        width: 300px;
    }

    .modal-callbacker-block .title-callbacker {
        padding: 0;
    }
}

#callbacker-design {
    position: fixed;
    *visibility: hidden;
    background-color: transparent;
    width: 100px;
    height: 100px;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    right: 15px;
    bottom: 15px;
}

/* Раскомментировать, если он не нужен на мобильных устройствах
 * @media screen and (max-width: 980px) {
    #callbacker-design {
        display: none;
    }
}*/

#callbacker-design a {
    text-decoration: none;
}

#callbacker-design .callbacker-design-img-circle {
    width: 50px;
    height: 50px;
    background: #5aaade center center no-repeat url('img/phone.png');
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .8;
    -webkit-animation: callbacker-design-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: callbacker-design-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: callbacker-design-circle-img-anim 1s infinite ease-in-out;
    -o-animation: callbacker-design-circle-img-anim 1s infinite ease-in-out;
    animation: callbacker-design-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#callbacker-design .callbacker-design-circle-fill {
    opacity: .24;
    -webkit-animation: callbacker-design-circle-fill-anim 2.3s infinite ease-in-out !important;
    -moz-animation: callbacker-design-circle-fill-anim 2.3s infinite ease-in-out !important;
    -ms-animation: callbacker-design-circle-fill-anim 2.3s infinite ease-in-out !important;
    -o-animation: callbacker-design-circle-fill-anim 2.3s infinite ease-in-out !important;
    animation: callbacker-design-circle-fill-anim 2.3s infinite ease-in-out !important;
    background: #5aaade repeat;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid transparent;
}

#callbacker-design .callbacker-design-circle {
    opacity: .35;
    -webkit-animation: callbacker-design-circle-anim 2.2s infinite ease-in-out !important;
    -moz-animation: callbacker-design-circle-anim 2.2s infinite ease-in-out !important;
    -ms-animation: callbacker-design-circle-anim 2.2s infinite ease-in-out !important;
    -o-animation: callbacker-design-circle-anim 2.2s infinite ease-in-out !important;
    animation: callbacker-design-circle-anim 2.2s infinite ease-in-out !important;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #5aaade;
}

#callbacker-design:hover .callbacker-design-img-circle, #callbacker-design:hover .callbacker-design-circle-fill {
    background-color: #72d582;
}

#callbacker-design:hover .callbacker-design-circle {
    border-color: #72d582;
}

#callbacker-design:hover .callbacker-design-img-circle {
    -webkit-animation: callbacker-design-circle-img-anim-hover 1s infinite ease-in-out;
    -moz-animation: callbacker-design-circle-img-anim-hover 1s infinite ease-in-out;
    -ms-animation: callbacker-design-circle-img-anim-hover 1s infinite ease-in-out;
    -o-animation: callbacker-design-circle-img-anim-hover 1s infinite ease-in-out;
    animation: callbacker-design-circle-img-anim-hover 1s infinite ease-in-out;
}

@-moz-keyframes callbacker-design-circle-anim {
    0% {
        -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1;
        -moz-opacity: .1;
        -webkit-opacity: .1;
        -o-opacity: .1
    }
    30% {
        -moz-transform: rotate(0deg) scale(.7) skew(1deg);
        opacity: .5;
        -moz-opacity: .5;
        -webkit-opacity: .5;
        -o-opacity: .5
    }
    100% {
        -moz-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .6;
        -moz-opacity: .6;
        -webkit-opacity: .6;
        -o-opacity: .1
    }
}

@-webkit-keyframes callbacker-design-circle-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
        -webkit-opacity: .1
    }
    30% {
        -webkit-transform: rotate(0deg) scale(.7) skew(1deg);
        -webkit-opacity: .5
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        -webkit-opacity: .1
    }
}

@-o-keyframes callbacker-design-circle-anim {
    0% {
        -o-transform: rotate(0deg) kscale(0.5) skew(1deg);
        -o-opacity: .1
    }
    30% {
        -o-transform: rotate(0deg) scale(.7) skew(1deg);
        -o-opacity: .5
    }
    100% {
        -o-transform: rotate(0deg) scale(1) skew(1deg);
        -o-opacity: .1
    }
}

@keyframes callbacker-design-circle-anim {
    0% {
        transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0deg) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1
    }
}

@-moz-keyframes callbacker-design-circle-fill-anim {
    0% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
    50% {
        -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes callbacker-design-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
    50% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes callbacker-design-circle-fill-anim {
    0% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
    50% {
        -o-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
}

@keyframes callbacker-design-circle-fill-anim {
    0% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
}

@keyframes callbacker-design-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@-moz-keyframes callbacker-design-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -moz-transform: rotate(0deg) scale(1) skew(1deg)
    }
    100% {
        -moz-transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@-webkit-keyframes callbacker-design-circle-img-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@-o-keyframes callbacker-design-circle-img-anim {
    0% {
        -o-transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -o-transform: rotate(0deg) scale(1) skew(1deg)
    }
    100% {
        -o-transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@keyframes callbacker-design-circle-img-anim-hover {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-35deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(35deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-35deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(35deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@-moz-keyframes callbacker-design-circle-img-anim-hover {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-35deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(35deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-35deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(35deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@-webkit-keyframes callbacker-design-circle-img-anim-hover {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-35deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(35deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-35deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(35deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@-o-keyframes callbacker-design-circle-img-anim-hover {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-35deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(35deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-35deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(35deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
}

#callbacker .modal-callbacker-block {
    border: none;
    box-shadow: none;
    font-family: 'PT Sans',arial,sans-serif;
    border-radius: 10px;
    overflow: hidden;
    color: #222222;
    line-height: 1.5 !important;
    width: 500px;
}

#callbacker .modal-callbacker-block .title-callbacker {
	height: 50px;
    background: #fafbfc;
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Lobster',arial,sans-serif;
    border-bottom: 1px solid #dbd9d9;
}

#callbacker .modal-callbacker-block .icon-close-callbacker {
	background: url(img/close.png) no-repeat 0 0;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
}

#callbacker .modal-callbacker-block .icon-close-callbacker:hover {
	background-position: 0 -30px;
}

#callbacker .modal-callbacker-block .padding-callbacker {
    padding: 15px;
}

#callbacker .modal-callbacker-block p {
    font-size: 16px; 
	display: block;
    line-height: 1.5;
	margin: 0;
}

#callbacker .modal-callbacker-block .bold {
    font-weight: bold;
}

#callbacker form {
    margin: 10px 0;
    text-align: center;
    width: 100%;
    height: auto;
    background: none;
    position: static;
    padding: 0;
    border: none;
}

#callbacker form input {
    font-family: 'PT Sans',arial,sans-serif;
    font-size: 16px;
}

#callbacker form input[type=text] {
	box-sizing: border-box;
    height: 38px;
    line-height: 38px;
    border: 1px solid #dbd9d9;
    width: 280px !important;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    color: #dbd9d9;
    -moz-border-radius: 10px;
    margin: 0 auto 10px auto;
    display: block;
}


#callbacker form input[type=text]:focus {
	color: #001931;
    border: 1px solid #001931;
}

#callbacker form ::-webkit-input-placeholder {
    color: #dbd9d9;
}

#callbacker form ::-moz-placeholder {
    color: #dbd9d9;
}

#callbacker form :-moz-placeholder {
    color: #dbd9d9;
}

#callbacker form :-ms-input-placeholder {
    color: #dbd9d9;
} 

#callbacker form input[type=submit] {
	width: auto !important;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    border-radius: 10px;
    background: #001931;
    color: #fff;
	border: 0;
    -moz-border-radius: 10px;
    display: block;
    cursor: pointer;
	margin: 0 auto;
}

#callbacker form input[type=submit]:hover {
	background: #10a9dc;
    text-decoration: none;
}
